    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header"><i class="icon-search"> FILTRER PAR GENRE</i></li>
            {{  render(controller('MyAppPIBundle:Categories:menu')) }}
        </ul>
    </div>
