{% trans_default_domain 'FOSUserBundle' %}
{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block title %} <title>Réinitialiser mot de passe</title>{% endblock %}
{% block store %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock store %}
{% block neuf %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Mot de passe perdu</h2>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                            <h4 style="color: #0e0e0e">Vous avez perdu votre mot de passe ?</h4>
                            <em>
                                Compléter le formulaire, un email vous seras envoyé.<br />
                                Il contiendra la procèdure à suivre pour récupérer votre mot de passe.
                            </em>
                        </div>

                        <div class="span4 offset2">
                            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                <div>
                                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                    <input type="text" id="username" name="username" required="required" />
                                </div>
                                <div>
                                    <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                                </div>
                                <br><br><br><br><br><br><br><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock neuf %}
