<html lang="en" class="wide wow-animation desktop landscape mag-js rd-navbar-static-linked">
<head>
    {% block head %}
        <title>{% block title %} Home {% endblock %}</title>

        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="http://www.googletagmanager.com/gtm.js?id=GTM-P9FT69"></script><script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script><script async="" src="http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js"></script><script type="text/javascript">
        //<![CDATA[
        try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"0990115ae424311cc566aeef9cb33b2c",petok:"9fd8cda7d76103856269ff3579befa5188ebf83e-1488990843-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
        //]]>
    </script>
    {% block stylesheet %}
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,500,700%7CUbuntu:300,300italic,400,500,700">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!--[if lt IE 10]>

        <![endif]-->
    {% endblock %}

    {% endblock %}
</head>

<body>

<div class="page text-center">


    <header class="page-header">
        {% block header %}

        <div class="rd-navbar-wrap" style="height: 135px;">
            <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed"
                 data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth"
                 data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                 data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="225px" data-md-stick-up-offset="45px"
                 data-lg-stick-up-offset="45px">
                <div class="rd-navbar-top-panel">
                    <div class="rd-navbar-top-panel-inner">
                        <p class="rd-navbar-fixed--hidden">Welcome to the<span
                                    class="text-white"> world of gaming news!</span></p>
                        <div>
                            <a href="about.html" class="rd-navbar-fixed--hidden">Store</a>
                            <a href="about.html" class="rd-navbar-fixed--hidden">About us</a>
                            <a href="contact.html" class="rd-navbar-fixed--hidden">Contacts</a>

                            <div class="rd-navbar-search toggle-original-elements">
                                <button data-rd-navbar-toggle=".rd-navbar-search"
                                        class="rd-navbar-search-toggle toggle-original"><span class="fa-search"></span>
                                </button>
                                <form action="search-results.html" data-search-live="rd-search-results-live"
                                      method="GET" class="rd-search">
                                    <div class="form-group">
                                        <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Search</label>
                                        <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"
                                               class="rd-navbar-search-form-input form-control form-control-gray-lightest">
                                        <div id="rd-search-results-live" class="rd-search-results-live"></div>
                                    </div>
                                    <button type="submit" class="fa-search"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-inner">

                    <div class="rd-navbar-panel">

                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle toggle-original">
                            <span></span></button>

                        <div class="rd-navbar-brand"><a href="./"><img src="{{ asset('images/hello.png') }}" alt=""></a></div>
                        <ul class="rd-navbar-list-inline">
                            <li><a href="{{ path('login') }}" class="icon">LOGIN</a></li>


                        </ul>
                    </div>
                    <div class="rd-navbar-nav-wrap toggle-original-elements">

                        <ul class="rd-navbar-nav">
                            <li class="active rd-navbar--has-dropdown rd-navbar-submenu"><a href="./">Jeux</a>
                                <ul class="rd-navbar-dropdown">
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#">Post format</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li><a href="blog-single-post.html">Standard Format</a></li>
                                            <li><a href="blog-audio-post.html">Audio Format</a></li>
                                            <li><a href="blog-video-post.html">Video Format</a></li>
                                            <li><a href="blog-quote-post.html">Quote Format</a></li>
                                            <li><a href="blog-gallery-post.html">Gallery Format</a></li>
                                            <li><a href="blog-link-post.html">Link Format</a></li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>




                            <li class="active rd-navbar--has-dropdown rd-navbar-submenu"><a href="./">Live</a>
                                <ul class="rd-navbar-dropdown">
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#">Live 1</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li><a href="blog-single-post.html">youtube</a></li>
                                            <li><a href="{{ path('live') }}">Twitch</a></li>
                                            <li><a href="blog-video-post.html">VideoGames</a></li>
                                            <li><a href="blog-quote-post.html">Console News</a></li>
                                            <li><a href="blog-gallery-post.html">Jeux5</a></li>
                                            <li><a href="blog-link-post.html">Jeux6</a></li>
                                        </ul>
                                    <li><a href="404.html">Console</a></li>
                                    <li><a href="404.html">All</a></li>
                                </ul>
                                <span class="rd-navbar-submenu-toggle"></span></li>
                            <li><a href="videos.html">forum</a></li>
                            <li><a href="platforms.html">Videos</a> <ul class="rd-navbar-dropdown">
                                    <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#">Post format</a>
                                        <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                            <li><a href="blog-single-post.html">Standard Format</a></li>
                                            <li><a href="blog-audio-post.html">Audio Format</a></li>
                                            <li><a href="blog-video-post.html">Video Format</a></li>
                                            <li><a href="blog-quote-post.html">Quote Format</a></li>
                                            <li><a href="blog-gallery-post.html">Gallery Format</a></li>
                                            <li><a href="blog-link-post.html">Link Format</a></li>
                                        </ul>
                                        <span class="rd-navbar-submenu-toggle"></span></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>

                            <li class="rd-navbar-fixed--visible rd-navbar--hidden"><a href="about.html">about</a></li>
                            <li class="rd-navbar-fixed--visible rd-navbar--hidden"><a href="contact.html">contact</a>
                            </li>
                            <li class="rd-navbar-fixed--visible rd-navbar--hidden">
                                <ul class="rd-navbar-list-inline">
                                    <li><a href="#" class="icon icon-sm fa-facebook"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-twitter"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-pinterest-p"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-vimeo"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-youtube-play"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

        </div>
        {% endblock header %}

    </header>

    <main class="page-content">
        {% block content %}
            {% block formulaire %}
            {% endblock formulaire %}
            <section>

            </section>
            <section class="section-top-90">

            </section>
            <section class="section-top-80">

            </section>
        {% endblock %}
    </main>


    <footer class="page-footer">
        <section class="section-54 context-dark">
            <div class="shell">
                <div class="range text-md-left">
                    <div class="cell-sm-6 cell-md-3">
                        <h4>Categories</h4>
                        <ul class="list-11">
                            <li><a href="./"> News</a></li>
                            <li><a href="Previews.html"> Previews</a></li>
                            <li><a href="Reviews.html"> Reviews</a></li>
                            <li><a href="#"> Information</a></li>
                            <li><a href="blog-single-post.html"> Recent Posts</a></li>
                            <li><a href="videos.html"> Videos</a></li>
                            <li><a href="Platforms.html"> Platforms</a></li>
                        </ul>
                    </div>
                    <div class="cell-sm-6 cell-md-3">
                        <h4>Information</h4>
                        <ul class="list-11">
                            <li><a href="About.html">About us</a></li>
                            <li><a href="Contact.html">Contact us</a></li>
                            <li><a href="#">Editorial Policy</a></li>
                            <li><a href="privacy.html">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="cell-md-3">
                        <h4>Recent Post</h4>
                        <div class="post-blog"><a href="blog-single-post.html" class="thumbnail"><img src="{{ asset('images/footer-01.jpg') }}" width="" height="" alt="" class="img-responsive"></a>
                            <div class="small"><a href="./">News</a></div>
                            <div class="post-blog-title"><a href="blog-single-post.html">Homefront: The Revolution gives away single-player season pass</a></div>
                            <div class="post-blog-meta small">
                                <div class="reveal-inline-block text-gray small post-blog-author">by <a href="blog-list.html">Admin</a></div>
                                <p class="text-gray">Jan. 12, 2016</p><span class="post-blog-comment"><a href="blog-single-post.html#comments">4</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="cell-md-3">
                        <h4>Recent Comments</h4>
                        <ul class="list">
                            <li><a href="blog-single-post.html">Albert on How relevant is PS4 release for the "Carmageddon"?</a></li>
                            <li><a href="blog-single-post.html">Danny on Why Uncharted 4 release gets postponed (again)?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-gray-base post-footer">
            <div class="shell">
                <div class="range range-md-middle">
                    <div class="cell-md-6 text-md-right text-center cell-md-push-1">
                        <ul class="list-inline list-inline-none">
                            <li><a href="#" class="icon icon-sm fa-facebook"></a></li>
                            <li><a href="#" class="icon icon-sm fa-twitter"></a></li>
                            <li><a href="#" class="icon icon-sm fa-pinterest-p"></a></li>
                            <li><a href="#" class="icon icon-sm fa-vimeo"></a></li>
                            <li><a href="#" class="icon icon-sm fa-youtube-play"></a></li>
                        </ul>
                    </div>
                    <div class="cell-md-6 text-md-left offset-top-25 offset-md-top-0">
                        <p>© 2016 Finest Game, Inc. <a href="privacy.html">All Rights Reserved</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</div>

<div id="form-output-global" class="snackbars"></div>

<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                <button title="Share" class="pswp__button pswp__button--share"></button>
                <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
            <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__cent"></div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/core.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7078796-5']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='http://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
<a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up"></a></body></html>