{% extends "VideoBundle::layout.html.twig" %}
{% block head %}
    <title>{% block title %}Register{% endblock %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    {% block stylsheet %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="shell">
        <div class="range range-md-center text-md-left">
            <div class="cell-md-8">
                <div class="range">
                    <div class="cell-md-8 offset-top-45 offset-md-top-90">
                        <h2>LOGIN</h2>
                        <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="offset-top-20 range rd-mailform text-sm-left">
                            <div class="cell-md-6">
                                <div class="form-group">
                                    <label for="contact-name" class="form-label form-label-outside">Username</label>
                                    <input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="contact-surname" class="form-label form-label-outside">Password</label>
                                    <input id="contact-surname" type="text" name="surname" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-4 offset-md-top-0">
                                <div class="form-group">
                                    <label for="contact-email" class="form-label form-label-outside">Email Address</label>
                                    <input id="contact-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="form-label form-label-outside">Repeat Password</label>
                                    <input id="subject" type="text" name="subject" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-12 offset-top-32">
                                <button type="submit" class="btn btn-primary offset-top-40">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<section>#}

    {#</section>#}
    {#<section class="section-top-90">#}

    {#</section>#}
    <section class="section-top-80">

    </section>
{% endblock %}