{% trans_default_domain 'FOSUserBundle' %}
{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block title %} <title>Réinitialiser mot de passe</title>{% endblock %}
{% block store %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock store %}
    {% block neuf %}
        <div class="container">
            <div class="row">
                <div class="span3">
                    {% include ':modulesUsed:genre.html.twig' %}
                    {% include ':modulesUsed:navigation.html.twig' %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include ':modulesUsed:utilisateurConnecte.html.twig' %}
                    {% endif %}
                    {{  render(controller('MyAppPIBundle:Panier:menu')) }}
                </div>
                <div class="span9">
                    <h2>Mes informations</h2>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="span5">
                                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
{#</div>#}
    {% endblock neuf %}