<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('fos_user_profile_show') }}">Mes informations</a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_edit') }}">Editer mes informations</a>
            </li>
            <li>
                <a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
            </li>
            <li>
                <a href="#">Mes factures</a>
            </li>
            <li>
                <a href="#">Mes adresses</a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">deconnexion</a>
            </li>
        </ul>
    </div>
    <div class="well">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-shopping-cart"></i>
                3 item - 54,27 €
                <b class="caret"></b></a>
            </a>
            <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <a href="panier.php" class="btn btn-primary">Mon Panier</a>
            </div>
        </div>
    </div>
</div>