Bonjour {{ utilisateur.username }}
<br />
Votre commande est validée.
Vous pouvez accèder à votre facture sur votre espace client.
<br /><br />
L'équipe Tunisia Game Space vous remercie pour votre commande.
<br />
Cordialement.