{% trans_default_domain 'FOSUserBundle' %}
{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block title %} <title>Login</title>{% endblock %}
{% block store %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock store %}
{% block neuf %}
<div class="container">
    <div class="row">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('notification') %}
                <div class="alert alert-notification">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <h2>Connexion</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <h4 style="color: #0e0e0e">Pas encore inscrit ?</h4>
                        <em>
                            Nous vous invitons à vous inscrire<br />
                        </em>
                        <br /><br />
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">S'inscrire</a>
                    </div>

                    <div class="span4 offset2">
                        <h4 style="color: #0e0e0e">Connexion</h4>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="cell-md-6">
                                <div class="form-group">
                                    <label for="username" class="form-label form-label-outside">{{ 'security.login.username'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="password" class="form-label form-label-outside">{{ 'security.login.password'|trans }}</label>
                                    <input type="password" id="password" name="_password" required="required" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                                <div class="cell-md-12 offset-top-32">
                                    <div class="form-group form-group-lg">
                                        <br>
                                        <button type="submit" id="_submit" name="_submit" class="btn btn-primary offset-top-40" value="{{ 'security.login.submit'|trans }}">Login </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="span10">
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    {#{% if error %}#}
        {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
    {#{% endif %}#}
    {#<div class="shell">#}
        {#<div class="range range-md-center text-md-left">#}
            {#<div class="cell-md-8">#}
                {#<div class="range">#}
                    {#<div class="cell-md-8 offset-top-45 offset-md-top-90">#}
                        {#<h2>LOGIN</h2><br>#}
                        {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                            {#{% if csrf_token %}#}
                                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
                            {#{% endif %}#}
                            {#<div class="cell-md-6">#}
                                {#<div class="form-group">#}
                                    {#<label for="username" class="form-label form-label-outside">{{ 'security.login.username'|trans }}</label>#}
                                    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<label for="password" class="form-label form-label-outside">{{ 'security.login.password'|trans }}</label>#}
                                    {#<input type="password" id="password" name="_password" required="required" class="form-control"/>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                                    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
                                {#</div>#}
                                {#<div class="cell-md-12 offset-top-32">#}
                                    {#<div class="form-group form-group-lg">#}
                                        {#<h6 >If you don't already have an account with us please <a href="{{ path('fos_user_registration_register') }}">register</a> </h6>#}
                                        {#<button type="submit" id="_submit" name="_submit" class="btn btn-primary offset-top-40" value="{{ 'security.login.submit'|trans }}">Login </button>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</form>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock neuf %}