<div class="span3">
    <div class="well">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-shopping-cart"></i>
                3 item - 54,272 €
                <b class="caret"></b></a>
            </a>
            <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <p>Item x 1 <span class="pull-right">18,09 €</span></p>
                <a href="{{ path('panier') }}" class="btn btn-primary">Mon Panier</a>
            </div>
        </div>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li class="nav-header">Nos produits</li>
            {% for categorie in categories %}
            <li>
                <a href="#">{{ categorie.nom }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="connexion.php">Se connecter</a>
            </li>
            <li>
                <a href="inscription.php">S'inscrire</a>
            </li>
        </ul>
    </div>
</div>