{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block title %} <title>Store</title>{% endblock %}
{% block store %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock store %}
{% block neuf %}
    <div class="container">
    <div class="row">
        <div class="span3">
            {% include ':modulesUsed:genre.html.twig' %}
            {% include ':modulesUsed:navigation.html.twig' %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include ':modulesUsed:utilisateurConnecte.html.twig' %}
            {% else %}
            {% endif %}
            {{  render(controller('MyAppPIBundle:Panier:menu')) }}
        </div>
        <div class="span9">
            <div class="row">
                <div class="span3">
                    <img src="{{ produit.image.AssetPath|imagine_filter('store') }}" alt="{{ produit.image.name }}" width="270" height="410">
                </div>
                <div class="span6">
                    <h4 style="color: black">{{ produit.nom }}</h4>
                    <h5>{{ produit.categorie.nom }}</h5>
                    <div >{{ produit.description|raw }}</div>
                    <h4 style="color: black">{{ produit.prix|tva(produit.tva.multiplicate) }} €</h4>
                        {% if panier[produit.id] is not defined %}
                        <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                            <div class="span2">
                        <select name="qte" class="span2" style="width: 20%">
                            {%  for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select><br>
                            </div>
                        <div>
                            <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </form>
                    {% else %}
                        <div>
                            <a href="{{ path('panier') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                        </div>
                    {% endif %}
                </div>
            </div><br>
            <div class="span2">
                <h4 style="color: black">Note Presse: <h5>{{ produit.notePresse }}</h5></h4>
            </div>
            <div class="span2">
                <h4 style="color: black">Note Globale: <h5>{{ produit.noteGlobale }}</h5></h4>
            </div><br><br>
            <div class="span9"><br>
                <h2>Trailer</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ produit.video }}" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>
    </div>
    </div>
{% endblock %}