{% extends "MyAppFourumBundle::BOLyaout.html.twig" %}

    {% block head %}
        <title>{% block title %} TGS BO{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheet %}

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('BO/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('BO/css/sb-admin.css') }}"rel="stylesheet">

            <!-- Morris Charts CSS -->
            <link href="{{ asset('BO/css/plugins/morris.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('BO/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript"
                src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" >
        </script>

        <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}">
        </script>
        <script src="{{asset('js/jquery.min.js')}}" type="text/javascript"></script>

        <script src="{{asset('js/highcharts.js')}}"></script> <script src="{{asset('js/exporting.js')}}"></script> <script type="text/javascript"></script>

    {% endblock %}

{% block content %}
{% endblock %}
