{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forumtopic creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('forumtopics_index') }}">Back to the list</a>
        </li>
</ul>
{% endblock %}
