{% extends "EspritGameBundle:GameBack:layoutback.html.twig" %}
{% block head %}
    <title> {% block title %}{{ parent() }}-Forum{% endblock %}</title>
    {% block stylesheet %}

        <!-- jQuery -->
        <script src="{{ asset('back/js/jquery.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>

        <!-- Morris Charts JavaScript -->
        <script src="{{ asset('back/js/plugins/morris/raphael.min.js') }}"></script>
        <script src="{{ asset('back/js/plugins/morris/morris.min.js') }}"></script>
        <script src="{{ asset('back/js/plugins/morris/morris-data.js') }}"></script>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('back/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('back/css/sb-admin.css') }}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{{ asset('back/css/plugins/morris.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('back/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js') }}"></script>
        <script src="{{ asset('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
{% endblock %}
{% block game %}

    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul >
                <li style="margin-left: 80%"><a class="icon"> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_login') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}</a></li>

            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="graphe"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#slim"><i class="fa fa-fw fa-arrows-v"></i> Dropdown astuce<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="slim" class="collapse">
                            <li>
                                <a href="Recherched">Rechercher astuce</a>
                            </li>
                            <li>
                                <a href="Ajouter">Ajout astuce</a>
                            </li>
                            <li>
                                <a href="Afficher">Liste des astuces</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="Recherche">Rechercher jeu</a>
                            </li>
                            <li>
                                <a href="AddGame">Ajout jeu</a>
                            </li>
                            <li>
                                <a href="ListJeu">Liste des Jeu</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Modifier Jeu
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Forms update jeu
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6">


                        <div class="form-group">
                            <label>Titre</label>
                            {{ form_widget(form.titre, { 'attr': {'class': 'form-control'|trans } }) }}
                        </div>

                        <div class="form-group">
                            <label for="Select">Genre</label>
                            {{ form_widget(form.genre, { 'attr': {'class': 'form-control'|trans } }) }}
                        </div>


                        <div class="form-group">
                            <label>Date de sortie</label>
                            {{ form_widget(form.date_sortie, { 'attr': {'class': 'form-control'|trans } }) }}
                        </div>


                        <label>Note de presse</label>
                        <div class="form-group input-group">
                            {{ form_widget(form.note_presse, { 'attr': {'class': 'form-control'|trans } }) }}
                            <span class="input-group-addon">/20</span>
                        </div>

                        <label>Notes des joueurs</label>
                        <div class="form-group input-group">
                            {{ form_widget(form.note_joueur, { 'attr': {'class': 'form-control'|trans } }) }}
                            <span class="input-group-addon">/20</span>
                        </div>


                        <div class="form-group">
                            <label>Description</label>
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'|trans } }) }}
                        </div>


                        <label>Prix du Jeu</label>
                        <div class="form-group input-group">
                            <span class="input-group-addon">$</span>
                            {{ form_widget(form.prix, { 'attr': {'class': 'form-control'|trans } }) }}
                            <span class="input-group-addon">.00</span>
                        </div>

                        <div class="form-group">
                            <label for="Select">Console</label>
                            {{ form_widget(form.console, { 'attr': {'class': 'form-control'|trans } }) }}

                        </div>


                        <div class="form-group">
                            <label>Developpeur</label>
                            {{ form_widget(form.developpeur, { 'attr': {'class': 'form-control'|trans } }) }}                                </div>

                        <div class="form-group">
                            <label>Image</label>
                            {{ form_widget(form.image) }}
                        </div>

                        <div class="form-group">
                            <label>Rating</label>
                            {{ form_widget(form.rating) }}
                        </div>

                        {{ form_widget(form.Save, { 'attr': {'class': 'btn btn-default'|trans } }) }}
                        <button type="reset" class="btn btn-default">Reset Button</button>







                    </div>

                </div>
                {{ form_end(form) }}
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    </body>


{% endblock %}