<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tunisia Game Space Admin Panel</title>
    {% block stylsheet %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('cssAdmin/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('cssAdmin/sb-admin.css') }}" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{ asset('cssAdmin/plugins/morris.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {% endblock %}
    {% block js %}
        <!-- jQuery -->
        <script src="{{ asset('jsAdmin/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('jsAdmin/bootstrap.min.js') }}"></script>
        <!-- Morris Charts JavaScript -->
        <script src="{{ asset('jsAdmin/plugins/morris/raphael.min.js') }}"></script>
        <script src="{{ asset('jsAdmin/plugins/morris/morris.min.js') }}"></script>
        <script src="{{ asset('jsAdmin/plugins/morris/morris-data.js') }}"></script>
        <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
    {% endblock js %}
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('admin') }}">Tunisia Game Space</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user }} <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Log
                                Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    {% block navbar %}
                        <li class="active">
                            <a href="{{ path('admin') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i
                                        class="fa fa-fw fa-money"></i> Store <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                    <a href="{{ path('admin_produits_index') }}">Produits</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_categories_index') }}">Catégorie</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('serveur_index') }}"><i class="fa fa-fw fa-cloud"></i> Serveur</a>
                        </li>
                        <li>
                            <a href="{{ path('adminCommande') }}"><i class="fa fa-fw fa-credit-card"></i> Commandes</a>
                        </li>
                        <li>
                            <a href="{{ path('adminUtilisateurs') }}"><i class="fa fa-fw fa-user"></i>Utilisateurs</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i
                                        class="fa fa-fw fa-money"></i> Jeux <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo1" class="collapse">
                                <li>
                                    <a href="{{ path('esprit_gameAdd') }}">ajout jeux</a>
                                </li>
                                <li>
                                    <a href="{{ path('RechercheGame') }}">Recherche jeux</a>
                                </li>
                                <li>
                                    <a href="{{ path('afficheJeu') }}">List jeux</a>
                                </li>
                                <li>
                                    <a href="{{ path('Pie_chart') }}">stat</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo2"><i
                                        class="fa fa-fw fa-money"></i> Astuces <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo2" class="collapse">
                                <li>
                                    <a href="{{ path('RechercheAstuce') }}">Recherche Astuce</a>
                                </li>
                                <li>
                                    <a href="{{ path('Afficher_Astuce') }}">Afficher Astuce</a>
                                </li>
                                <li>
                                    <a href="{{ path('Ajout_Astuce') }}">Ajout Astuce</a>
                                </li>
                          </ul>
                        </li>

                    {% endblock navbar %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                            <small>Tunisia Game Space</small>
                        </h1>
                        {% block breadcrumb %}{% endblock breadcrumb %}
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
