{#{% extends "@FOSUser/layout.html.twig" %}#}
{#{% extends "MyAppPIBundle::layout.html.twig" %}#}

{#{% block fos_user_content %}#}
                {% block formulaire %}

                    {% include "@FOSUser/Registration/register_content.html.twig" %}
                {% endblock formulaire %}
{#{% endblock fos_user_content %}#}
