{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block title %} <title>Store</title>{% endblock %}
{% block store %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock store %}
{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}
{% for produit in produits %}
    {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}
{% block neuf %}
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include ':modulesUsed:genre.html.twig' %}
                {% include ':modulesUsed:navigation.html.twig' %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include ':modulesUsed:utilisateurConnecte.html.twig' %}
                {% endif %}
                {{  render(controller('MyAppPIBundle:Panier:menu')) }}
            </div>
            <div class="span9">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <h2>Votre panier</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Références</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total HT</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4" >Aucun articles dans votre panier</td>
                        </tr>
                    {% endif %}
                    {% for produit in produits %}
                        <tr>
                            <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                <td>{{ produit.nom }}</td>
                                <td>
                                    <select name="qte" class="span1" onChange="this.form.submit()">
                                        {% for i in 1..10 %}
                                            <option value="{{ i }}" {% if i == panier[produit.id] %} selected="selected" {% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>&nbsp;
                                </td>
                                <td>{{ produit.prix }} €</td>
                                <td>{{ produit.prix * panier[produit.id] }} €</td>
                                <td><a href="{{ path('supprimer', { 'id' : produit.id }) }}"><i class="icon-trash"></i></a></td>
                            </form>
                        </tr>
                        {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
                        {% set totalTTC = totalTTC + (produit.prix * panier[produit.id])|tva(produit.tva.multiplicate) %}
                        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + ( produit.prix * panier[produit.id])|montantTva(produit.tva.multiplicate) }) %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if produits|length != 0 %}
                    <dl class="dl-horizontal pull-right">
                        <dt>Total HT :</dt><dd>{{ totalHT }} €</dd>

                        {% for key, tva in refTva %}
                            <dt>TVA {{ key }} :</dt><dd>{{ tva }} €</dd>
                        {% endfor %}

                        <dt>Total TTC :</dt><dd>{{ totalTTC }} €</dd>
                    </dl>
                    <div class="clearfix"></div>
                    <a href="{{ path('livraison') }}" class="btn btn-success pull-right">Valider mon panier</a>
                {% endif %}
                <a href="{{ path('store') }}" class="btn btn-primary">Continuer mes achats</a>
            </div>

        </div>
    </div>
{% endblock neuf %}