{% extends "MyAppPIBundle:layout:layout.html.twig" %}

{% block backoffice %}
    <div class="col-lg-12">
        <h1 class="page-header">
            les videos de TGS
        </h1>

    </div>
        <div class="panel-body">
                <table class="table table-bordered table-hover table-striped">
                    <div class="count">
                        <div class="page-header">
                            <h4>
                            Nombre de videos : {{ pagination.getTotalItemCount }}</h4>
                            <i class="text-right"> <a href="{{ path('video_new') }}">Créer une nouvelle video</a></i>
                        <form class="navbar-form navbar-right" method="post" action="{{ path('video_r') }}">
                                    <input type="text" class="form-control" width="20%"placeholder="Search..." name="motcle">
                            </form>
                        </div>

                    </div>

        <thead>
            <tr>
                <th>Id video</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date d ajout</th>
                <th>Type video</th>
                <th>Video</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in pagination %}
            <tr>
                <td><a href="{{ path('video_show', { 'id': video.idVideo }) }}">{{ video.idVideo }}</a></td>
                <td>{{ video.titre }}</td>
                <td>{{ video.description | raw}}</td>
                <td>{{ video.dateAjout|date('Y-m-d H:i:s') }}</td>
                <td>{{ video.typeVideo }}</td>
                <td  width="100%" height="100%"><div style="position:relative;height:0;padding-bottom:30.25%"><iframe src="https://www.youtube.com/embed/{{ video.codeVideo }}" width="100%" height="100%" frameborder="0" style="position:absolute;width:100%;height:100%;left:80" allowfullscreen></iframe></div></td>
                <td>
                    <ul>



                            <a href="{{ path('video_show', { 'id': video.idVideo }) }}"><button type="submit" class="btn btn-default"> Afficher les details   </button>
                            </a>

                            <a href="{{ path('video_edit', { 'id': video.idVideo }) }}"> <button type="submit" class="btn btn-default">Modifier  </button>
                            </a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <br><br>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}  <div class="text-right"><a href="{{ path('video_all') }}">Afficher tout <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>


            </div>
{% endblock %}
