{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block backoffice %}

    <div class="col-lg-12">
        <h1 class="page-header">
           Ajouter une video
        </h1>

    </div>


    {{ form_start(form) }}

<div class="panel-body">

    <table class="table table-bordered table-hover table-striped">

        <tr>
            <td width="20%">Titre de la video  :</td>
            <td>{{ form_widget(form.titre) }}</td></tr>
        <tr>
            <td width="20%">Type :</td>
            <td>{{ form_widget(form.typeVideo) }}</td>
        </tr>
        <tr>
            <td width="20%">Date  :</td>
            <td>{{ form_widget(form.dateAjout) }}</td>
        </tr>

        <tr>
            <td width="20%">Code :</td>
            <td height="-5%" e>{{ form_widget(form.codeVideo) }}</td>
        </tr>
        <tr>
            <td width="20%">Description :</td>
            <td>{{ form_widget(form.description)| raw}}</td>
        </tr>
        <tr>
            <td width="20%">Vu :</td>
            <td id="disabledInput">{{ form_widget(form.nbVue) }}</td>
        </tr>
    </table>
    <ul>
        <button type="submit" class="btn btn-default">           Créer        </button>

    </ul>

    {{ form_end(form) }}
    <ul>
        <li>
            <div class="text-right">
                <a href="{{ path('video_index') }}"> Retour  <i class="fa fa-arrow-circle-right"></i></a>
            </div>

        </li>
    </ul>
</div>
{% endblock %}
