{% extends "MyAppPIBundle:layout:layout.html.twig" %}

{% block backoffice %}
    <div class="col-lg-12">
        <h1 class="page-header">
           Video : {{ video.titre }}
        </h1>

    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover table-striped">


        <tbody>


            <tr>
                <th> regarder la video</th>



                <td  width="100%" height="100%"><div style="position:relative;height:0;padding-bottom:30.25%"><iframe src="https://www.youtube.com/embed/{{ video.codeVideo }}" width="200" height="200" frameborder="0" style="position:absolute;width:50%;height:100%;left:80" allowfullscreen></iframe></div></td>
            </tr>
            <tr>
                <th> Titre </th>
                <td>{{ video.titre }}</td>
            </tr>
            <tr>
                <th> Description </th>
                <td>{{ video.description | raw }}</td>
            </tr>
            <tr>
                <th>Date d ajout</th>
                <td>{{ video.dateAjout|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Type de la video</th>
                <td>{{ video.typeVideo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('video_index') }}">Retour </a>
        </li>
        <li>
            <a href="{{ path('video_edit', { 'id': video.idVideo }) }}"            <button type="submit" class="btn btn-default">      Modifier       </button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-default">  Delete      </button>

            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
