    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="connexion.php">Se connecter</a>
            </li>
            <li>
                <a href="inscription.php">S'inscrire</a>
            </li>
        </ul>
    </div>
