<html>
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% block title %} TGS {% endblock %}</title>
        {% block stylesheet %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    {% endblock %}

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="http://www.googletagmanager.com/gtm.js?id=GTM-P9FT69"></script>
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script async="" src="http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [{
                    verbose: 0,
                    p: 0,
                    byc: 0,
                    owlid: "cf",
                    bag2: 1,
                    mirage2: 0,
                    oracle: 0,
                    paths: {cloudflare: "/cdn-cgi/nexp/dok3v=1613a3a185/"},
                    atok: "0990115ae424311cc566aeef9cb33b2c",
                    petok: "9fd8cda7d76103856269ff3579befa5188ebf83e-1488990843-1800",
                    zone: "template-help.com",
                    rocket: "0",
                    apps: {"abetterbrowser": {"ie": "7"}}
                }];
                !function (a, b) {
                    a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "http://ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js", b.parentNode.insertBefore(a, b)
                }()
            }
        } catch (e) {
        }
        ;
        //]]>
    </script>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Montserrat:400,500,700%7CUbuntu:300,300italic,400,500,700">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="https://windows.microsoft.com/en-US/internet-explorer/"><img
                src="{{ asset('images/ie8-panel/warning_bar_0000_us.jpg') }}" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">.cf-hidden {
            display: none;
        }

        .cf-invisible {
            visibility: hidden;
        }</style>

    <div class="page text-center">


        <div class="rd-navbar-wrap" style="height: 135px;">
            <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed"
                 data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth"
                 data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
                 data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="225px" data-md-stick-up-offset="45px"
                 data-lg-stick-up-offset="45px">
                <div class="rd-navbar-top-panel">
                    <div class="rd-navbar-top-panel-inner">
                        <p class="rd-navbar-fixed--hidden">Welcome to the<span
                                    class="text-white"> world of gaming news!</span></p>
                        <div>

                            <a href="about.html" class="rd-navbar-fixed--hidden">Store</a>
                            <a href="about.html" class="rd-navbar-fixed--hidden">About us</a>
                            <a href="contact.html" class="rd-navbar-fixed--hidden">Contacts</a>

                            <div class="rd-navbar-search toggle-original-elements">
                                <button data-rd-navbar-toggle=".rd-navbar-search"
                                        class="rd-navbar-search-toggle toggle-original"><span class="fa-search"></span>
                                </button>
                                <form action="search-results.html" data-search-live="rd-search-results-live"
                                      method="GET" class="rd-search">
                                    <div class="form-group">
                                        <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Search</label>
                                        <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"
                                               class="rd-navbar-search-form-input form-control form-control-gray-lightest">
                                        <div id="rd-search-results-live" class="rd-search-results-live"></div>
                                    </div>
                                    <button type="submit" class="fa-search"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-inner">

                    <div class="rd-navbar-panel">

                        <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle toggle-original">
                            <span></span></button>

                        <div class="rd-navbar-brand"><a href="http://localhost/Pidev/web/app_dev.php/product"><img src="{{ asset('images/logo1.png') }}" alt=""></a></div>
                        <ul >
                            <li><a class="icon"> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}</a></li>

                        </ul>
                    </div>
                    <div class="rd-navbar-nav-wrap toggle-original-elements">

                        <ul class="rd-navbar-nav">
                            <li><a href="http://localhost/Pidev/web/app_dev.php/product">jeux</a></li>
                            <li><a href="previews.html">actu</a></li>
                            <li><a href="http://localhost/Pidev/web/app_dev.php/slim/homev">vidéos</a></li>
                            <li><a href="http://localhost/Pidev/web/app_dev.php/khaoula/f">forum</a></li>
                            <li><a href="http://localhost/Pidev/web/app_dev.php/slim/serveur">serveur</a></li>
                            <li class="rd-navbar-fixed--visible rd-navbar--hidden"><a href="about.html">about</a></li>
                            <li class="rd-navbar-fixed--visible rd-navbar--hidden"><a href="contact.html">contact</a>
                            </li>
                            <li class="rd-navbar-fixed--visible rd-navbar--hidden">
                                <ul class="rd-navbar-list-inline">
                                    <li><a href="#" class="icon icon-sm fa-facebook"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-twitter"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-pinterest-p"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-vimeo"></a></li>
                                    <li><a href="#" class="icon icon-sm fa-youtube-play"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        </head>


<body>

{% block content %}

{% endblock %}

{% block formulaire %}

{% endblock %}

</body>


{% block footer %}
{% endblock %}
<footer class="page-footer">
    <section class="section-54 context-dark">
        <div class="shell">
            <div class="range text-md-left">
                <div class="cell-sm-6 cell-md-3">
                    <h4>Categories</h4>
                    <ul class="list-11">
                        <li><a href="./"> News</a></li>
                        <li><a href="Previews.html"> Previews</a></li>
                        <li><a href="Reviews.html"> Reviews</a></li>
                        <li><a href="#"> Information</a></li>
                        <li><a href="blog-single-post.html"> Recent Posts</a></li>
                        <li><a href="videos.html"> Videos</a></li>
                        <li><a href="Platforms.html"> Platforms</a></li>
                    </ul>
                </div>
                <div class="cell-sm-6 cell-md-3">
                    <h4>Information</h4>
                    <ul class="list-11">
                        <li><a href="About.html">About us</a></li>
                        <li><a href="Contact.html">Contact us</a></li>
                        <li><a href="#">Editorial Policy</a></li>
                        <li><a href="privacy.html">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="cell-md-3">
                    <h4>Recent Post</h4>
                    <div class="post-blog"><a href="blog-single-post.html" class="thumbnail"><img src="{{ asset('images/footer-01.jpg') }}" width="" height="" alt="" class="img-responsive"></a>
                        <div class="small"><a href="./">News</a></div>
                        <div class="post-blog-title"><a href="blog-single-post.html">Homefront: The Revolution gives away single-player season pass</a></div>
                        <div class="post-blog-meta small">
                            <div class="reveal-inline-block text-gray small post-blog-author">by <a href="blog-list.html">Admin</a></div>
                            <p class="text-gray">Jan. 12, 2016</p><span class="post-blog-comment"><a href="blog-single-post.html#comments">4</a></span>
                        </div>
                    </div>
                </div>
                <div class="cell-md-3">
                    <h4>Recent Comments</h4>
                    <ul class="list">
                        <li><a href="blog-single-post.html">Albert on How relevant is PS4 release for the "Carmageddon"?</a></li>
                        <li><a href="blog-single-post.html">Danny on Why Uncharted 4 release gets postponed (again)?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-base post-footer">
        <div class="shell">
            <div class="range range-md-middle">
                <div class="cell-md-6 text-md-right text-center cell-md-push-1">
                    <ul class="list-inline list-inline-none">
                        <li><a href="#" class="icon icon-sm fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-sm fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-sm fa-pinterest-p"></a></li>
                        <li><a href="#" class="icon icon-sm fa-vimeo"></a></li>
                        <li><a href="#" class="icon icon-sm fa-youtube-play"></a></li>
                    </ul>
                </div>
                <div class="cell-md-6 text-md-left offset-top-25 offset-md-top-0">
                    <p>© 2016 Finest Game, Inc. <a href="privacy.html">All Rights Reserved</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>


</html>