{% extends "MyAppPIBundle:layout:layout.html.twig" %}
{% block head %}
    <title> {% block title %}{{ parent() }}-single{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

        <script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
        {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

{% endblock %}
{% block content %}


    <div id="site-content">
        <section class="bg-primary">
            <div class="shell">
                <ol class="breadcrumb">
                    <li><a href="http://localhost/Pidev/web/app_dev.php/login">Home</a></li>
                    <li class="active"><a href="http://localhost/Pidev/web/app_dev.php/product">Produit</a></li>
                    <li>  Nombre de visites {{ view.view }}</li>


                </ol>
            </div>
        </section>
    </div>

        <br>
        <main class="main-content">
            <div class="container">
                <div class="page">

                    <div class="entry-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="product-images">
                                    <figure class="large-image">
                                        <a href=""><img height="375" width="300" src='{{ asset("/BACKUP/PI/web/images/"~ jeux.image)}}' /> </a>
                                    </figure>

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h2 class="entry-title">{{ jeux.titre }}</h2>
                                <br>
                                <span class="label label-success">note des joeurs :<small class="price" style="padding-left: 5px;" >{{ jeux.noteJoueur }}</small></span>
                                <span class="label label-warning">note de presse :<small class="price" style="padding-left: 5px;">{{ jeux.notePresse }}</small></span>
                                <span class="label label-primary">prix<small class="price"  style="padding-left: 5px;">${{ jeux.prix }}</small></span>
                                <br>
                                <br>
                                <p> <strong>Développeur(s): {{ jeux.developpeur }}.</strong></p>
                                <p> <strong>Genre(s): {{ jeux.genre }}.</strong></p>
                                <p> <strong>Date de sortie: {{ jeux.DateSortie|date('Y-m-d') }}.</strong></p>
                                <p>{{ jeux.description }}.</p>
                                <p> <strong>Rate de TGS: {{ jeux.rating|rating }}</strong></p>

                                <div class="social-links square">
                                    <strong>{{ socialButtons() }}</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <section>
                    <header>
                        <h3 class="section-title"><a href="{{ path("det_mod", {'IdJeu':jeux.IdJeu}) }}">Afficher les astuces</a></h3>
                        <br>
                    </header>
                </section>

            </div>
        </main>


    </div> <!-- .container -->

    <div class="overlay"></div>

    <div style="margin-left: 10%">
    <div style="padding-right: 40%">
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'type_' ~ jeux.IdJeu } %}
    </div>
    </div>

    </body>


    <br>

{% endblock %}