{% extends "EspritGameBundle:Game:layout.html.twig" %}
{% block head %}
    <title> {% block title %}{{ parent() }}-Catalogue{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock %}
{% endblock %}
{% block content %}
<body>
<div id="site-content">
    <section class="bg-primary">
        <div class="shell">
            <ol class="breadcrumb">
                <li><a href="http://localhost/Pidev/web/app_dev.php/login">Home</a></li>
                <li class="active"><a href="http://localhost/Pidev/web/app_dev.php/product">Produit</a></li>
            </ol>
        </div>
    </section>
</div>
<br>

<h2  style="margin-right: 28%"> <strong> Formulaire De Contribution Astuce</strong> </h2>

<hr>

<h3 style="margin-right: 30%" ><p> Contacter nous </p></h3>

{{ form_start (form) }}

<div  class="col-lg-6">
    <div style="padding-left: 40%">
        <br>
        <br>
        <div class="form-group" >
            <label>Username</label>
            {{ form_widget(form.username, { 'attr': {'class': 'form-control'|trans } }) }}
        </div>
        <div class="form-group">
            <label>Email</label>
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'|trans } }) }}
        </div>
        <div class="form-group">
            <label>Text</label>
            {{ form_widget(form.text, { 'attr': {'class': 'form-control'|trans } }) }}
        </div>
        <br>
        <div>
            {{ form_widget(form.valider, { 'attr': {'class': 'btn btn-default'|trans } }) }}
        </div>
    </div>
</div>

{{ form_end (form) }}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>
{% endblock %}

